.row {
  margin-top: 1rem;
  color: white;
}

.row-container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.row-container::-webkit-scrollbar {
  display: none;
}
.row-title {
  font-size: 1.2rem;

  padding: 0;
  margin-left: 1rem;
}
