.sidebar {
  background-image: linear-gradient(-20deg, #060708 0%, #252036 100%);
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(70, 66, 66, 0.582);
  width: 13%;
}
.sidebar-container {
  margin-left: 1rem;
  margin-top: 2rem;
}

.sidebar-links-container {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-size: 0.8rem;
}

.sidebar-links-container:hover {
  color: #4158d0;
  cursor: pointer;
  transition: ease-in 230ms;
}

.sidebar-links-icon {
}
.sidebar-links-h3 {
  margin-left: 1rem;
}

h2 {
  text-align: left;
  font-size: 0.8rem;
  margin: 1rem;
}
@media only screen and (min-width: 1400px) {
  .sidebar {
    max-width: 5%;
  }
}
