.userSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.userSection-name {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.userSection-email {
  font-size: 0.85rem;
  color: lightgrey;
  object-fit: contain;
  margin-right: 1em;
}
.userSection-image {
  font-size: 3rem;
}
